* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>div{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
}
nav ul {
    flex: 1;
}
nav ul:last-child {
    justify-content: flex-end;
}

.link{
    color: black;
    text-decoration: none;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: url('Mobile_banner_1_x800.webp'), url('Mobile_banner3_-_Jan.webp');
    background-size: 50% 100%, 50% 100%;
    background-position: left, right;
    background-repeat: no-repeat;
}
.background_photo1,.background_photo2{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.container1_1{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    margin-top: 100px;
}
.container1_1_child1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 450px;
    background-color: white;
}
.title_child1{
    text-align: center;
}
.paragraph1_child1{
    text-align: center;
}
.paragraph2_child1{
    text-align: center;
}
.input_email{
    width: 90%;
    height: 40px;
    border: 1px solid black;
    padding: 0 10px;
}
.submit_email{
    width: 90%;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}
.container1_1_child2>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container1_1_child2{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.container1_2{
    display: flex;
    justify-content: center;
    align-items: end;
}